@model Recyclable.Models.RecyclableItem

<h2>Edit Recyclable Item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RecyclableTypeId, "Recyclable Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RecyclableTypeId", null, new { @class = "form-control", id = "RecyclableTypeId" })
                @Html.ValidationMessageFor(model => model.RecyclableTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemDescription, "Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control", id = "ItemDescription" } })
                @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, "Weight", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", type = "text", id = "Weight" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComputedRate, "Computed Rate", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComputedRate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "ComputedRate" } })
                @Html.ValidationMessageFor(model => model.ComputedRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" />
                <input type="button" value="Reset" class="btn btn-default" onclick="resetForm()" />
            </div>
        </div>
    </div>
}

<div>@Html.ActionLink("Back to List", "Index")</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function resetForm() {
            $('#RecyclableTypeId, #ItemDescription, #Weight, #ComputedRate').val('');
        }

        function updateComputedRate() {
            var weight = parseFloat($('#Weight').val().replace(',', '.'));
            var recyclableTypeId = $('#RecyclableTypeId').val();

            if (isNaN(weight) || weight <= 0) {
                return $('#ComputedRate').val('');
            }

            if (recyclableTypeId) {
                $.get('/RecyclableItems/GetRecyclableTypeRate', { recyclableTypeId }, function (response) {
                    if (response.success && !isNaN(response.rate)) {
                        var computedRate = (response.rate * weight).toFixed(2);

                        if (weight < response.minKg || weight > response.maxKg) {
                            alert(`The weight must be between ${response.minKg} kg and ${response.maxKg} kg.`);
                            return $('#ComputedRate').val('');
                        }

                        $('#ComputedRate').val(computedRate);
                    } else {
                        $('#ComputedRate').val('');
                    }
                }).fail(function () {
                    $('#ComputedRate').val('');
                });
            } else {
                $('#ComputedRate').val('');
            }
        }

        $(document).ready(function () {
            $('#RecyclableTypeId').change(updateComputedRate);
            $('#Weight').keyup(updateComputedRate);
        });
    </script>
}
